<template>
    <div>
        <div class="card-header">
            <h3 class="card-title">Context history</h3>
        </div>
        <div class="card-body">
            <div class="tile" v-for="ctx in contexts" :key="ctx.id">
                <div class="tile-icon">
                    <img v-if="ctx.track.image" :src="ctx.track.image">
                </div>
                <div class="tile-content">
                    <div class="tile-title">{{ ctx.track.title }}</div>
                    <div class="tile-subtitle">{{ trackSubtitle(ctx.track) }}</div>
                    <p class="tile-subtitle">
                        <span class="chip bg-gray text-gray">{{ ctx.id }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { listContexts, Context, Track } from '../api/contexts';

@Component({})
export default class extends Vue {
    contexts: Context[] = [];

    async mounted() {
        this.contexts = await listContexts(30);
    }

    trackSubtitle(track: Track): string {
        if (track.album) {
            return `${track.artist} - ${track.album}`;
        } else {
            return track.artist;
        }
    }
}
</script>
