<template>
    <div>
        <div class="card-header">
            <h3 class="card-title">Play history</h3>
        </div>
        <div class="card-body">
            <Play v-for="play in plays" :key="play.id" :play="play"/>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

import { Play, listPlays } from "../api";
import PlayComponent from "./Play.vue";

@Component({
    components: {
        Play: PlayComponent
    }
})
export default class extends Vue {
    plays: Play[] = [];

    async mounted() {
        this.plays = await listPlays(30);
    }
}
</script>
