<template>
    <div class="tile" v-if="play">
        <div class="tile-icon">
            <img v-if="play.image" :src="play.image">
        </div>
        <div class="tile-content">
            <div class="tile-title">{{ play.title }}</div>
            <div class="tile-subtitle">{{ subtitle }}</div>
            <p class="tile-subtitle">
                <span class="chip bg-gray text-gray">{{ play.device }}</span>
                <span class="chip bg-gray text-gray">{{ play.context }}</span>
            </p>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import { Play } from '../api';

@Component({})
export default class extends Vue {
    @Prop({ required: true, type: Object })
    play!: Play;

    get subtitle(): string {
        if (this.play.album) {
            return `${this.play.artist} - ${this.play.album}`;
        } else {
            return this.play.artist;
        }
    }
}
</script>

