<template>
    <div class="container grid">
        <div class="columns">
            <div class="column col-6">
                <PlayHistory class="card"></PlayHistory>
            </div>
            <div class="column col-6">
                <ContextHistory class="card"></ContextHistory>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import PlayHistory from './components/PlayHistory.vue';
import ContextHistory from './components/ContextHistory.vue';

@Component({
    components: {
        PlayHistory,
        ContextHistory,
    }
})
export default class extends Vue { }
</script>
